{deps, [rabbit_common,
        proper
]}.

{dist_node, [
    {sname, 'rabbit'}
]}.
{plugins, [rebar3_hex]}.

{erl_opts, [debug_info,
            warn_export_vars,
            warn_shadow_vars,
            warn_obsolete_guard,
            {parse_transform,lager_transform},
            {lager_extra_sinks, [rabbit_log,
                                 rabbit_log_channel,
                                 rabbit_log_connection,
                                 rabbit_log_mirroring,
                                 rabbit_log_queue,
                                 rabbit_log_federation,
                                 rabbit_log_upgrade]},
            nowarn_export_all]}.
